* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gotham';
  font-size: 1em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Gotham', bold;
  text-transform: uppercase;
  font-family: 'extinction-event';
  font-size: 2.15em;
}

h3 {
  font-size: 2em;
  font-family: 'extinction-event';
  padding-left: 100px;
}

.main {
  width: 100%;
  background-image: url("img/background.jpg")
}


.header {
  width: 100%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding-left: 250px;
  padding-right: 250px;
}

.header h2 {
  color: #29303a;
}

.header span {
  color: white;
}

.lineup {
    text-align: justify;
}

.lineup p {
  font-size: 1.5em;
}

.headerbutton {
    border: 3px solid white;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.headerbutton:hover {
  color: yellow;
  border: 3px solid yellow;
}

.mainmenu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start; /* horizontal */
  align-items: center; /* vertical */
}

.button {
  width: 120px;
  height: 100%;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  color: grey;
}

.ticketmenu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end; /* horizontal */
  align-items: center; /* vertical */
  background-color: #133046;
}

.ticketbutton {
  width: 120px;
  height: 100%;
  margin: 2px;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-color: 1px solid yellow;
}


.hero {
  width: 100%;
  height: 500px;
  padding-top: 50px;
}

.ticket {
  display: inline;
  border-color: 5px solid white;
  font-size: 2em;
  color: hotpink;

}

.column-container {
  width: 100%;
  height: 300px;
  display: flex;
}

.column {
  width: 50%;
  height: 100%;
  background-color: #EC9770;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.column a {
  width: 100%;
  height: 100%;
}

.column a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column h5 {
  font-size: 28px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 20px;
}

.line {
  width: 50%;
  display: flex;
}

.day {
  width: 50%;
  text-align: right;
  margin-right: 10px;
}
.time {
  width: 50%;
  text-align: left;
  margin-left: 10px;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #ffedba;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  letter-spacing: -3px;
  word-spacing: -1px;
}

.contact h3 {
  font-size: 40px;
  color: #595959;
  width: 60%;
  border-bottom: 1px solid #EC9770;
  padding-bottom: 20px;
  text-align: center;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.contact span {
  color: #1c9186;
}

.socialmediaicons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: red;
  background-color: black;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: hotpink;
}

.icon:hover {
  margin-top: -5px;
  cursor: pointer;
  color: red;
}

.footer {
  width: 100%;
  background-color: #133046;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 30px;
  font-size: 13px;
}

.footer-col {
  width: 33.33%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-gallery {
  width: 100%;
  background-color: #EC9770;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.image-gallery .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}

.image-gallery .image:hover {
  margin-top: -15px;
  transition: 0.3s;
}

.image-gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0%);
}

.image-gallery .image img:hover {
  filter: saturate(70%);
}


/************************ links *************************/
a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;


/**************** SEARCH BAR *********************/

.get-social {
  background-color: #ffedba;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.get-social h3 {
  font-size: 40px;
  color: #595959;
  width: 60%;
  padding-bottom: 20px;
  text-align: center;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  letter-spacing: -2px;
}


.search {
  width: 400px;
  padding: 15px;
  border-radius: 45px;
  padding-left: 70px;
  font-size: 20px;
  border: 1px solid black;
  background-image: url('img/mag_glass.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 20px 15px;
  background-color: #ffedba;
  border: #595959 solid 1px;
  transition: 0.4s;
  color: #595959;
  margin-top: 0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,0.4);
    opacity: 1; /* Firefox */
}

.search:focus{
  outline: none;
  border: 1px solid black;
  width: 600px;
  transition: 0.4s;
}



/*****************  MEDIA QUERIES *******************/

@media screen and (max-width: 1080px) {
  .image-gallery {
    flex-flow: row wrap;
  }
  .image-gallery .image {
    margin: 5px;
  }
  .image-gallery .image:hover {
    margin-top: -7px;
  }
}


/* Tablet size  */
@media screen and (max-width: 960px) {
  .header h1 {
    font-size: 60px;
    letter-spacing: -2px;
    width: 100%;
  }
  .hero {
    height: 400px;
  }
  .column-container {
    flex-flow: row wrap;
    height: auto;
  }
  .column {
    width: 100%;
    height: 300px;
  }
  .line {
    width: 100%;
  }
  .day {
    width: 50%;
    text-align: right;
    margin-right: 10px;
  }
  .time {
    width: 50%;
    text-align: left;
    margin-left: 10px;
  }

  .search {
    font-size: 20px;
  }
}


@media screen and (max-width: 730px) {
  .header h1 {
    font-size: 50px;
    letter-spacing: -2px;
  }
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
  .hero {
    height: 300px;
  }
  .search-stores input {
    width: 100%;
  }

  .search {
    font-size: 16px;
    background-position: 10px 10px;
    padding-left: 50px;
  }

  .search:focus {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .header h1 {
    font-size: 40px;
    }
  .icon {
    width: 50px;
  }
}

/* comment */
