* {
  margin: 0;
  font-family: 'Gotham';
  font-size: 1em;
  text-transform: uppercase;
  box-sizing: border-box;
}

body {
    background-image: url("img/background02.jpg");
    width: 100%;
}

h2 {
  text-transform: uppercase;
  font-family: 'extinction-event';
  font-size: 2.4vw;
  color: #29303a;
}

h3 {
  font-size: 2em;
  font-family: 'extinction-event';
  letter-spacing: 2px;
  padding-left: 100px;
  color: white;
}

p {
  font-size: 1.5em;
  color: white;
  box-sizing: border-box;
}

/**************************** nav *****************************/
.menu {
  padding-right: 100px;
  padding-top: 30px;
  font-size: 3em;
  display: flex;
  flex-flow: row-reverse wrap;
}


.socialmenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  background-color: #29303a;
}

  i:hover {
  margin-top: -5px;
  cursor: pointer;
  color: #29303a;
}

.socialmenu i {
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  padding: 10px;
  padding-right: 30px;
}

.mainmenu {
  height: 50px;
  display: flex;
  justify-content: flex-start; /* horizontal */
  align-items: center; /* vertical */
  float:left;
  padding-left: 50px;
  padding-right: 50px;
}

.button {
  width: 120px;
  height: 100%;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
}

.button:hover {
  color: #29303a;
}

.ticketmenu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-right: 50px;
  padding-top: 10px;
}

button {
  display: inline-block;
  color: yellow;
  border: none;
	text-decoration: none;
  font-weight: bold;
  line-height: 120%;
  background-color: rgba(255,255,255, 0);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
  margin-right: 30px;
}

.icon i {
  padding-top: 6px;
  font-size: 1em;
  color: white;
}

/**************************** header *****************************/
header {
  width: 100%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding-left: 250px;
  padding-right: 250px;
}

header img {
  padding-top: 20px;
  position: relative;
  display: block;
  width: 70vw;
  box-sizing: border-box;
}

header h2 {
  padding-top: 50px;
  text-align: center;
}

.lineup {
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 20px;
}

span {
  color: white;
}

.button1 {
  border: 3px solid white;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 160px;
  margin-top: 20px;
  font-size: 0.8em;
  padding: 5px;
}

.button1:hover {
  color: yellow;
  border: 3px solid yellow;
}

/**************************** article *****************************/
article {
  padding-top: 150px;
}

.column-container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.column {
  width: 250px;
  height: 250px;
  margin-top: 90px;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border: 5px solid white;
  font-size: 2em;
  font-weight: bold;
}

.column p {
  font-size: 0.3em;
  text-transform: none;
  padding-top: 10px;
}

a[class="ticket"], a[href^="ticket.html"] {
  border-color: white;
  color: hotpink;
}

/**************************** get social *****************************/
section {
  background-image: url("img/blue-01.png");
  background-size: cover;
  padding-top: 1vw;
  height: 1000px;
}

.get_social h3 {
  padding-top: 38vw;
}

.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  padding-right: 50px;
}

.icon1:hover {
  cursor: pointer;
  color: #29303a;
}

.socialmediaicons1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 85px;
  padding-right: 10px;
  margin-left: 100px;
  float:left;
}

.insta {
  float: right;
  padding-right: 100px;
  padding-top: 50px;
}

.insta img {
  padding-left: 20px;
}

/**************************** playlist *****************************/

.playlist {
  background-image: url("img/orange-02.png");
  height: 900px;
  background-size: cover;
  padding-top: 305px;
  padding-bottom: 50px;
}

.playlist h3 {
  float: right;
  padding-right: 100px;
}

.playlist i {
  padding-top: 300px;
  padding-left: 100px;
  width: 300px;
  height: 400px;
  border: none;
  allowtransparency: true;
}

iframe {
  padding-top: 30px;
  padding-left: 100px;
  width: 30%;
  height: 90%;

}


/**************************** footer *****************************/
footer {
  width: 100%;
  height: 100%;
  background-color: #29303a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-top: 30px;
  font-size: 0.6em;
  padding-bottom: 30px;
}

.footer img {
  padding-top: 0px;
  padding-right: 100px;
}

.footer-col {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-flow: wrap;
}

.footer-col p {
  padding-top: 10px;
}

.copyright {
  float: left;
}

.copyright p {
  background-color: #29303a;
  color: white;
  height: 50px;
  padding-left: 70px;
  margin-top: -20px;
  font-size: 10px;
}

.footer-col p {
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom-color: white;
  border-bottom: 2px;
}

/**************************** links *****************************/

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #29303a;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/**************************** media query *****************************/
/* phone */
@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    padding-left: 70px;
    padding-right: 70px;
  }

  h2 {
    font-size: 1.2em;
    text-align: center;
  }

  p {
    font-size: 1.5em;
  }

  h3 {
    padding-left: 11vw;
  }

/*NEED TO FIX*/
  .column-container {
    height: 80vw;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  section {
    padding-top: 1vw;
  }

  .socialmediaicons1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    padding-top: 50px;
  }

  .insta img {
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .playlist {
    height: 900px;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 50px;
  }

  footer {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .footer-col {
    float: left;
    text-align: left;
    margin: -5px 30px;
    width: 30%;
  }

  #content {
    align-items: center;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  #id img {
    position: absolute;
  }


}

/* ipad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-left: 70px;
    padding-right: 70px;
  }

  h2 {
    font-size: 1.2em;
    text-align: center;
  }

  p {
    font-size: 1.5em;
  }

  h3 {
    padding-left: 9vw;
  }

  .playlist {
    height: 900px;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 50px;
  }

  iframe {
    padding-top: 60px;
    padding-left: 100px;
    width: 30%;
    height: 90%;
  }

  .insta {
    display: inline-flex;
    padding-right: 100px;
    justify-content: center;
  }

  .insta img {
    padding-left: 20px;
  }

  .column-container {
    height: 50vw;
  }

  #content {
    align-items: center;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }


}
